<a href="https://colab.research.google.com/github/TCU-DCDA/WRIT20833-2025/blob/main/notebooks/codeAlongs/20833_Dictionaries%26Functions_F25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionaries

https://melaniewalsh.github.io/Intro-Cultural-Analytics/02-Python/11-Dictionaries.html

## Dictionaries in Context

### Data Types
1. **int**: Integer (e.g., 5, -3, 0)
2. **float**: Floating-point number (e.g., 5.0, -3.14, 0.0)
3. **bool**: Boolean value (True or False)
4. **str**: String (e.g., "Hello", 'Python')


### Data Structures
1. **Lists**: One-dimensional, ordered collections where elements are indexed by their position (starting from 0).
2. **Dictionaries**: One-to-many mappings, where each unique key is associated with a single value. The values can be of any type, including other dictionaries, which can introduce more complex structures
3. **DataFrames**: Two-dimensional, structured data where you can index by both row and column.

In [ ]:
# Individual variables

person1_name = 'Mary Gallagher'
person2_name = 'John Sanin (?)'
person1_age = 18
person2_age = 19

# Lists: a technique to collect a set of variables under a single variable

names = ['Mary Gallagher', 'John Sanin(?)', 'Anthony Clark', 'Margaret Farrell']
ages = [28, 19, 60, 30]
professions = ['married', 'laborer', 'laborer', 'widow']

# Dictionary: a technique to collect a set of lists under a single variable

person1 = {"name": "Mary Gallagher",
             "age": 28,
             "profession": "married"}



# IOW: Variables can include a variety of data types (strings, floats, integers...)
# as well as data structures(lists and dictionaries).

In [ ]:
# You create a dictionary in python when you use curly brackets: {}
# Hence, to create an empty dictionary, simply type:

example = {}

In [ ]:
# Confirm you've made the right data structure by using the type() built-in function.

type(example)

list

## Key-Value Pairs

In [ ]:
# For illustration:

dict_name = {"key1" : "value1",
             "key2" : "value2" ,
             "key3" : "value3"
             }

# Where lists are identified by [], dictionaries are identified by {}

# The key would be equivalent to a column (or list) header in a CSV file

# The value would be equivalent to a cell's content under that header in a single row.

In [ ]:
person1 = {"name": "Mary Gallagher",
             "age": 28,
             "profession": "married"}

In [ ]:
person1.keys()

dict_keys(['name', 'age', 'profession'])

In [ ]:
person1.values()

dict_values(['Mary Gallagher', 28, 'married'])

## Access Items

In [ ]:
# If you know the name of an individual key, you can call directly its associated value

instructor1 = {"name": "Curt Rode",
             "age": 57,
             "romantic status": "married"}

#print(instructor1["name"])
#print(instructor1["age"])
#print(instructor1["romantic status"])
print(instructor1["hobby"])

KeyError: 'hobby'

## Change Items

In [ ]:
# You can also re-assign the value of a specific key

instructor1["age"] = 58
instructor1['age']

58

In [ ]:
instructor1

{'name': 'Curt Rode', 'age': 58, 'romantic status': 'married'}

## Add Items

In [ ]:
instructor1["hobby"] = "bass player"

In [ ]:
instructor1

{'name': 'Curt Rode',
 'age': 58,
 'romantic status': 'married',
 'hobby': 'bass player'}

## Nested Dictionaries

In [ ]:
# One useful feature of dictionaries is that you can "nest" smaller dictionaries into larger ones.
# Think of a dictionary that defines you personally ("age" , "major" , "hometown").
# Imagine that dictionary nested into one called "WRIT20833_FALL24"
# Imagine that dictionary nested into one called "WRIT_classes_FALL24"
# Imagine that dictionary nested into one called "ALL_classes_FALL24," etc

bellevue_people = {
                "person1":
                  {"name": "Mary Gallagher",
                   "age": 28,
                   "profession": "married"},
                "person2":
                  {"name": "John Sanin(?)",
                   "age": 19,
                   "profession": "laborer"}
                }

In [ ]:
# what do we expect for an output if we run this cell?

bellevue_people.keys()

dict_keys(['person1', 'person2'])

In [ ]:
# what do we expect for an output if we run this cell?

bellevue_people.values()

dict_values([{'name': 'Mary Gallagher', 'age': 28, 'profession': 'married'}, {'name': 'John Sanin(?)', 'age': 19, 'profession': 'laborer'}])

In [ ]:
bellevue_people['person2']

{'name': 'John Sanin(?)', 'age': 19, 'profession': 'laborer'}

In [ ]:
bellevue_people['person2']['age']

19

In [ ]:
bellevue_people

{'person1': {'name': 'Mary Gallagher', 'age': 28, 'profession': 'married'},
 'person2': {'name': 'John Sanin(?)', 'age': 19, 'profession': 'laborer'}}

## Iterate Through Dictionary

In [ ]:
for person in bellevue_people.keys():
    print(person)

person1
person2

In [ ]:
for person in bellevue_people.values():
  print(person['age'])

28
19

In [ ]:
for person in bellevue_people.values():
    if person['age'] > 20:
        name = person['name']
        age = person['age']
        print(f'{name} is more than 20 years old. They are {age}.')
    else:
      name = person['name']
      age = person['age']
      print(f"{name} doesn't meet criteria. They are {age}.")

Mary Gallagher is more than 20 years old. They are 28.
John Sanin(?) doesn't meet criteria. They are 19.

# Functions
https://melaniewalsh.github.io/Intro-Cultural-Analytics/02-Python/12-Functions.html

## Define a Function

In [ ]:
# Functions are bundles of code that you plan to use a number of times
# Python has built-in functions we've already encountered: print() , len(), type()

# But you also have the ability to create (or "define") your own unique functions using the keyword "def"

def sing_personalized_happy_birthday(personalized_name):
    print("Happy Birthday to you")
    print("Happy Birthday to you")
    print(f"Happy Birthday dear {personalized_name}")
    print("Happy Birthday to you")


    return

# Here, "personalized_name" is the parameter requested by the function to complete its task

## Call a Function + Adding Parameters & Arguments

In [ ]:
# Using (or "calling") a function is simple. All you have to do is type the name of the function
# and provide specific content for the "parameter" (known as the "argument")

# In the function above "personalized_name" is the parameter.
# In the call of the function below, "Wesley" is the argument.

sing_personalized_happy_birthday("Wesley")

## Keyword Arguments

In [ ]:
def sing_personalized_happy_birthday(personalized_name, those_who_sing):
    print("Happy Birthday to you")
    print("Happy Birthday to you")
    print(f"Happy Birthday dear {personalized_name}")
    print("Happy Birthday to you")

    print(f"From {those_who_sing}")


    return

In [ ]:
sing_personalized_happy_birthday(input("Birthday kid? "), input("Your name? "))

## Return Values

In [ ]:
def add(a, b):
    result = a + b
    print(result)

sum = add(3, 5)
print(sum)

8
None

In [ ]:
def add(a, b):
    result = a + b
    return result

sum = add(5, 3)
print(sum)

8

In [ ]:
sum + 5

13